{{>header}}
<h3 align='center'>Employee List</h3>
<table class="table table-striped" style="font-size:20px">
    <thead>
        <tr>
            <th></th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td></td>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true">    </i></a>
                <a href="">    </a>
                <a href="/employee/delete/{{this._id}}" 
                    onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div align='center'>
    <a href="/employee" class="btn btn-danger"><i class="fa fa-plus"> </i> Create New</a>
</div>