{{>header}}
<title>Add or Edit product</title>
<h3 align='center'>{{viewTitle}}</h3>
<form action="/catalog" method="POST" autocomplete="off" class="col-md-6 offset-md-3" style="font-size:18px">
  <input type="hidden" name="_id" value="{{product._id}}">
  <div class="form-group">
    <label for="usr">Product ID</label>
    <input type="text font-size:18px" class="form-control" name="proID" value="{{product.proID}}" placeholder="Product ID">
    <div class="text-danger">
      {{product.proIDError}}
    </div>
  </div>
  <div class="form-group">
    <label for="usr">Product Name</label>
    <input type="text" class="form-control" name="proName" value="{{product.proName}}" placeholder="Product Name">
    <div class="text-danger">
      {{product.proNameError}}
    </div>
  </div>
  <div class="form-group">
    <label for="usr">Amount</label>
    <input type="text" class="form-control" name="amount" value="{{product.amount}}" placeholder="Amount">
    <div class="text-danger">
      {{product.amountError}}
    </div>
  </div>
  <div class="form-group">
    <label>Price</label>
      <input type="text" name="price" placeholder="Price" value="{{product.price}}" class="form-control">
    </div>
  <div class="form-group" align='center'>
    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
    <a href="/catalog/list" class="btn btn-danger">
      <i class="fa fa-list-alt"></i> View All
    </a>
  </div>
</form>